/* .footer{
  background:#f4f8ff;
  padding:50px 8% 25px;
  color:#0B3D91;
}

.footer-container{
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr;
  gap:70px;
  margin-top:0;
}

.footer-logo img{
  width:250px;
  height:auto;
  object-fit:contain;
  display:block;
  margin-bottom:10px;
}

.logo{
  font-size:42px;
  margin-bottom:20px;
}

.logo span{
  color:#1D4ED8;
}

.footer-about p{
  color:#5B6B85;
  line-height:1.8;
}

.contact-info{
  margin-top:25px;
}

.contact-info a,
.contact-info p{
  display:block;
  color:#5B6B85;
  margin-bottom:12px;
  text-decoration:none;
}

.contact-info a:hover{
  color:#1D4ED8;
}

.footer-links h3{
  margin-bottom:25px;
  color:#0B3D91;
}

.footer-links a{
  display:block;
  margin-bottom:14px;
  color:#5B6B85;
  text-decoration:none;
  transition:.3s;
}

.footer-links a:hover{
  color:#1D4ED8;
  transform:translateX(5px);
}

.socials{
  display:flex;
  gap:12px;
  margin-top:25px;
}

.socials a{
  width:45px;
  height:45px;
  border-radius:50%;
  background:rgba(29,78,216,.08);
  color:#1D4ED8;
  text-decoration:none;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:.3s;
}

.socials a:hover{
  background:#1D4ED8;
  color:white;
}

.footer-bottom{
  border-top:1px solid rgba(29,78,216,.12);
  margin-top:35px;
  padding-top:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:#5B6B85;
}

.footer-bottom a{
  margin-left:20px;
  color:#5B6B85;
  text-decoration:none;
}

.footer-bottom a:hover{
  color:#1D4ED8;
}


@media(max-width:900px){

  .footer{
    padding:25px 8% 20px !important;
    margin-top:0 !important;
  }

  .footer-container{
    grid-template-columns:1fr;
    display:flex;
    flex-direction:column;
    gap:18px;
    margin-top:0 !important;
    padding-top:0 !important;
  }

  .footer-logo img{
    width:200px !important;
    margin-bottom:5px !important;
  }

  .footer-about p{
    margin-top:0 !important;
    line-height:1.6;
  }

  .contact-info{
    margin-top:15px !important;
  }

  .footer-links h3{
    margin-bottom:12px !important;
  }

  .footer-links a{
    margin-bottom:10px !important;
  }

  .socials{
    margin-top:15px !important;
  }

  .footer-bottom{
    margin-top:25px !important;
    padding-top:18px !important;
    flex-direction:column;
    gap:15px;
    text-align:center;
  }
}
 */



 /* .footer{
  position:relative;
  background:url("/assets/footer-sky.jpeg") center bottom / cover no-repeat;
  padding:90px 8% 35px;
  color:#003b91;
  overflow:hidden;
  min-height:auto;
  padding-bottom: 200px;
}

.footer-container{
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr;
  gap:70px;
  position:relative;
  z-index:2;
}

.footer-logo img{
  width:250px;
  margin-bottom:10px;
}

.footer-about h3{
  color:#004bd6;
  font-size:22px;
  margin-bottom:25px;
}

.footer-about p{
  color:#00306f;
  line-height:1.8;
  font-size:16px;
}

.contact-info{
  margin-top:25px;
}

.contact-info a,
.contact-info p{
  display:block;
  color:#00306f;
  margin-bottom:14px;
  text-decoration:none;
  line-height:1.7;
}

.footer-links h3{
  color:#004bd6;
  text-transform:uppercase;
  margin-bottom:28px;
  font-size:20px;
  font-weight:800;
}

.footer-links h3::after{
  content:"";
  display:block;
  width:40px;
  height:2px;
  background:#004bd6;
  margin-top:12px;
}

.footer-links a{
  display:block;
  color:#00306f;
  text-decoration:none;
  margin-bottom:16px;
  font-size:16px;
  cursor:pointer;
}

.footer-links a:hover{
  color:#1d4ed8;
  transform:translateX(5px);
}

.socials{
  display:flex;
  gap:15px;
  margin-top:25px;
}

.socials a{
  width:48px;
  height:48px;
  border:1px solid #1d4ed8;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#1d4ed8;
  text-decoration:none;
  font-weight:700;
}

.footer-bottom{
  position:relative;
  z-index:2;
  border-top:1px solid rgba(29,78,216,.25);
  margin-top:260px;
  padding-top:25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:#00306f;
}

.footer-bottom a{
  color:#00306f;
  text-decoration:none;
  margin-left:25px;
}

.footer-bottom a:hover{
  color:#1d4ed8;
}

.flight-heart{
  position:absolute;
  bottom:230px;      
  left:50%;         
  transform:translateX(-50%);
  width:900px;       
  z-index:5;
}

.flight-heart img{
  width:100%;
  height:auto;
  display:block;
}
@media(max-width:900px){
  .footer{
    padding:60px 8% 25px;
    min-height:auto;
    background-position:center bottom;
  }

  .footer-container{
    grid-template-columns:1fr;
    gap:25px;
  }

  .footer-logo img{
    width:200px;
  }

  .footer-bottom{
    margin-top:180px;
    flex-direction:column;
    gap:15px;
    text-align:center;
  }

  .footer-bottom a{
    margin:0 8px;
  }
  
} */



.footer{
  position:relative;
  background:url("/assets/footer-sky.jpeg") center bottom / cover no-repeat;
  padding:70px 8% 15px;
  color:#003b91;
  overflow:hidden;
  box-shadow:
    inset 0 40px 50px rgba(255,255,255,0.95),
    inset 0 80px 100px rgba(255,255,255,0.55);
}

.footer-container{
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr;
  gap:70px;
  position:relative;
  z-index:2;
  
}

.footer-logo img{
  width:250px;
  margin-bottom:10px;
}

.footer-about h3{
  color:#004bd6;
  font-size:22px;
  margin-bottom:25px;
}

.footer-about p{
  color:#00306f;
  line-height:1.8;
  font-size:16px;
}

.contact-info{
  margin-top:25px;
}

.contact-info a,
.contact-info p{
  display:block;
  color:#00306f;
  margin-bottom:14px;
  text-decoration:none;
  line-height:1.7;
}

.footer-links h3{
  color:#004bd6;
  text-transform:uppercase;
  margin-bottom:28px;
  font-size:20px;
  font-weight:800;
}

.footer-links h3::after{
  content:"";
  display:block;
  width:40px;
  height:2px;
  background:#004bd6;
  margin-top:12px;
  
}

.footer-links a{
  display:block;
  color:#00306f;
  text-decoration:none;
  margin-bottom:16px;
  font-size:16px;
  cursor:pointer;
}

.footer-links a:hover{
  color:#1d4ed8;
  transform:translateX(5px);
}

.socials{
  display:flex;
  gap:15px;
  margin-top:25px;
}

.socials a{
  width:48px;
  height:48px;
  border:1px solid #1d4ed8;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#1d4ed8;
  text-decoration:none;
  font-weight:700;
}



/* bottom */
.footer-bottom{
  position:relative;
  z-index:6;
  border-top:1px solid rgba(29,78,216,.25);
  margin-top:0;
  padding-top:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:#00306f;
}

/* MOBILE */

@media(max-width:900px){

  .footer{
    position:relative;
    padding:45px 8% 20px;
    background:url("/assets/footer-sky.jpeg") center bottom / cover no-repeat;
    overflow:hidden;
  }

  /* TOP WHITE FADE */
  .footer::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100px;
    background:linear-gradient(
      to bottom,
      #ffffff 0%,
      rgba(196, 211, 231, 0.95) 25%,
      rgba(144, 199, 240, 0.7) 55%,
      transparent 100%
    );
    /* box-shadow:
    0 0 40px rgba(255,255,255,0.9),
    0 0 80px rgba(255,255,255,0.7),
    0 20px 60px rgba(255,255,255,0.6); */
    z-index:1;
    pointer-events:none;
  }

  .footer-container{
    position:relative;
    z-index:2;
    grid-template-columns:1fr;
    gap:25px;
    
  }

  .footer-logo img{
    width:200px;
  }

  .flight-heart{
    position:relative;
    z-index:2;
    width:100%;
    max-width:95%;
    margin:10px auto;
    bottom:0;
  }

  .footer-bottom{
    position:relative;
    z-index:2;
    margin-top:10px;
    padding-top:15px;
    flex-direction:column;
    gap:15px;
    text-align:center;
  }

  .footer-bottom a{
    margin:0 8px;
  }
}