<section class="experience-section">

  <div class="experience-header">
    <span>CURATED FOR YOU</span>
    <h1>We Are Providing The Best Packages</h1>
    <p>Choose the perfect package for your next adventure.</p>
  </div>

  <div class="tour-grid">

   
    <div class="tour-card">

      <img src="assets/domestic3.jpg" alt="Domestic Tour">

      <div class="overlay"></div>

      <div class="tour-content">
        <h2>Domestic  </h2>
        <button routerLink="/domestic-packages">See More</button>
      </div>

    </div>

    
    <div class="tour-card">

      <img src="assets/international.jpg" alt="International Tour">

      <div class="overlay"></div>

      <div class="tour-content">
        <h2>International  </h2>
        <button routerLink="/international-packages">See More</button>
      </div>

    </div>

  </div>

</section>

  
