/* .packages{
  background:#080d18;
  color:white;
  padding:90px 0 30px 0;
  overflow:hidden;
}

.title,
.slider-box,
.dots{
  width:2000px;
  max-width:1335px;
  margin:0 auto;
}

.title span{
  color:#e67327;
  font-weight:700;
  letter-spacing:2px;
}

.title h1{
  font-size:55px;
  font-weight:900;
  margin:15px 0;
}

.title p{
  color:#b7c0d3;
  margin-bottom:50px;
}

.slider-box{
  overflow:hidden;
}

.package-grid{
  display:flex;
  gap:25px;
  width:max-content;
  animation: packageSlide 12s infinite ease-in-out;
}

.package-card{
  width:320px;
  min-width:320px;
  background:#141b2d;
  border-radius:20px;
  overflow:hidden;
  flex-shrink:0;
  transition:.3s;
}

.package-card:hover{
  transform:translateY(-8px);
}

.package-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.content{
  padding:20px;
}

.content h3{
  margin-bottom:10px;
}

.content p{
  color:#c5cbd8;
  line-height:1.6;
}

@keyframes packageSlide{
  0%,25%{ transform:translateX(0); }
  35%,55%{ transform:translateX(-345px); }
  65%,85%{ transform:translateX(-690px); }
  100%{ transform:translateX(0); }
}

.dots{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-top:30px;
}

.dots span{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#6b7280;
}

.dots span:nth-child(1){ animation:dot1 12s infinite; }
.dots span:nth-child(2){ animation:dot2 12s infinite; }
.dots span:nth-child(3){ animation:dot3 12s infinite; }

@keyframes dot1{
  0%,25%,100%{background:#e67327;width:28px;border-radius:20px;}
  35%,85%{background:#6b7280;width:10px;}
}

@keyframes dot2{
  35%,55%{background:#e67327;width:28px;border-radius:20px;}
  0%,25%,65%,100%{background:#6b7280;width:10px;}
}

@keyframes dot3{
  65%,85%{background:#e67327;width:28px;border-radius:20px;}
  0%,55%,100%{background:#6b7280;width:10px;}
}


@media (max-width:768px){

  .packages{
    padding:70px 24px 40px !important;
    overflow:visible !important;
  }

  .title,
  .slider-box,
  .dots{
    width:100% !important;
    max-width:100% !important;
    margin:0 auto !important;
  }

  .title h1{
    font-size:42px !important;
    line-height:1.15 !important;
  }

  .title p{
    font-size:18px !important;
    margin-bottom:35px !important;
  }

  .slider-box{
    overflow:visible !important;
  }

  .package-grid{
    width:100% !important;
    display:flex !important;
    flex-direction:column !important;
    gap:28px !important;
    overflow:visible !important;
    transform:none !important;
    animation:none !important;
  }

  .package-card{
    width:100% !important;
    min-width:100% !important;
    max-width:100% !important;
    margin:0 !important;
  }

  .package-card img{
    width:100% !important;
    height:250px !important;
    object-fit:cover !important;
  }

  .content{
    padding:18px !important;
  }

  .content h3{
    font-size:24px !important;
  }

  .content p{
    font-size:17px !important;
    line-height:1.5 !important;
  }

  .dots{
    display:none !important;
  }
} */


/* laptop */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600;700&display=swap');

/* mobile */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap'); 

.packages{
  background:#f4f8ff;
  color:#0B3D91;
  padding:90px 0 30px 0;
  overflow:hidden;
}

.title,
.slider-box,
.dots{
  width:2000px;
  max-width:1335px;
  margin:0 auto;
}

.title span{
  color:#1D4ED8;
  font-weight:700;
  letter-spacing:2px;
}

.title h1{
  font-size:55px;
  font-weight:900;
  margin:15px 0;
   font-family: 'Bodoni Moda', serif; 
  color:#0B3D91;
}

.title p{
  color:#3B82F6;
  margin-bottom:50px;
}

.slider-box{
  overflow:hidden;
}

.package-grid{
  display:flex;
  gap:25px;
  width:max-content;
  animation: packageSlide 12s infinite ease-in-out;
}

.package-card{
  width:320px;
  min-width:320px;
  background:#ffffff;
  border-radius:20px;
  overflow:hidden;
  flex-shrink:0;
  transition:.3s;

  box-shadow:
    0 12px 25px rgba(29,78,216,0.22),
    0 25px 60px rgba(14,79,191,0.28);
}

.package-card:hover{
  transform:translateY(-8px);
  box-shadow:
    0 18px 35px rgba(29,78,216,0.32),
    0 35px 80px rgba(14,79,191,0.38);
}

.package-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.content{
  padding:20px;
}

.content h3{
  margin-bottom:10px;
  color:#0B3D91;

}

.content p{
  color:#5B6B85;
  line-height:1.6;
}

@keyframes packageSlide{
  0%,25%{ transform:translateX(0); }
  35%,55%{ transform:translateX(-345px); }
  65%,85%{ transform:translateX(-690px); }
  100%{ transform:translateX(0); }
}

.dots{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-top:30px;
}

.dots span{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#BFD7FF;
}

.dots span:nth-child(1){ animation:dot1 12s infinite; }
.dots span:nth-child(2){ animation:dot2 12s infinite; }
.dots span:nth-child(3){ animation:dot3 12s infinite; }

@keyframes dot1{
  0%,25%,100%{background:#1D4ED8;width:28px;border-radius:20px;}
  35%,85%{background:#BFD7FF;width:10px;}
}

@keyframes dot2{
  35%,55%{background:#1D4ED8;width:28px;border-radius:20px;}
  0%,25%,65%,100%{background:#BFD7FF;width:10px;}
}

@keyframes dot3{
  65%,85%{background:#1D4ED8;width:28px;border-radius:20px;}
  0%,55%,100%{background:#BFD7FF;width:10px;}
}

@media (max-width:768px){

  .packages{
    background:#f4f8ff;
    padding:70px 24px 40px !important;
    overflow:visible !important;
  }

  .title,
  .slider-box,
  .dots{
    width:100% !important;
    max-width:100% !important;
    margin:0 auto !important;
    
  }
  .title {
    text-align: center !important;
  }
  .title h1{
    font-size:37px !important;
    line-height:1.15 !important;
    font-family:'DM Serif Display', serif !important;
    color:#0B3D91;
  }
  
  .title p{
    color:#3B82F6;
    font-size:18px !important;
    margin-bottom:35px !important;
  }

  .slider-box{
    overflow:visible !important;
  }

  .package-grid{
    width:100% !important;
    display:flex !important;
    flex-direction:column !important;
    gap:28px !important;
    overflow:visible !important;
    transform:none !important;
    animation:none !important;
  }
  .package-grid h3{
    text-align: center !important;
    font-family:'Lora', serif;
    
  }
  .package-card{
    width:100% !important;
    min-width:100% !important;
    max-width:100% !important;
    margin:0 !important;
    background:#ffffff;

    box-shadow:
      0 12px 25px rgba(29,78,216,0.22),
      0 25px 60px rgba(14,79,191,0.28);
  }

  .package-card img{
    width:100% !important;
    height:250px !important;
    object-fit:cover !important;
  }

  .content{
    
    padding:18px !important;
  }

  .content h3{
    font-size:24px !important;
    color:#0B3D91;
  }

  .content p{
    color:#5B6B85;
    font-size:15px !important;
    line-height:1.5 !important;
  }

  .dots{
    display:none !important;
  }
}