<section class="gallery">
  <div class="gallery-title">
    <span>MOMENTS CAPTURED</span>
    <h1>Your Trip in Every Frame</h1>
    <p>A visual journey through the destinations and experiences that await you.</p>
  </div>

<div class="gallery-card">
  <img src="assets/sunset.jpg">
  <div class="place-name">Goa</div>
</div>

<div class="gallery-card">
  <img src="assets/Thailand.jpg">
  <div class="place-name">Thailand</div>
</div>

<div class="gallery-card">
  <img src="assets/manali.jpg">
  <div class="place-name">Manali</div>
</div>
<div class="gallery-card">
  <img src="assets/malaysia1.jpg">
  <div class="place-name">Malaysia</div>
</div>
<div class="gallery-card">
  <img src="assets/singapore1.jpg">
  <div class="place-name">Singapore</div>
</div>
</section>