<section class="package-page">

  <div class="page-banner">
    <img src="assets/international2.jpg">

    <div class="banner-overlay">
      <h1>International </h1>
    </div>
  </div>

  <div class="package-grid">

    <div class="package-card">
      <img src="assets/malaysia.jpg">
      <h3>Malaysia</h3>
      <p>4 Nights 5 Days</p>
    </div>

    <div class="package-card">
      <img src="assets/GoldenBridge.jpg">
      <h3>Vietam</h3>
      <p>3 Nights 4 Days</p>
    </div>

    <div class="package-card">
      <img src="assets/bali.jpg">
      <h3>Bali</h3>
      <p>5 Nights 6 Days</p>
    </div>

    <div class="package-card">
      <img src="assets/singapore.jpg">
      <h3>Singapore</h3>
      <p>7 Nights 8 Days</p>
    </div>

  </div>

</section>

