<section class="destinations">

  <div class="section-head">
    <span>TOP PICKS</span>
    <h1>Destinations That Take Your Breath Away</h1>
    <p>From sun-kissed shores to lush rainforests — discover the most breathtaking escapes Goa has to offer.</p>
  </div>

  <div class="destination-grid">

    <div class="card big" style="background-image:url('assets/GoldenBridge.jpg')">
      <span>🏖 TRENDING</span>
      <h2>Golden Bridge, Ba Na Hills, Da Nang, Vietnam.</h2>
      <p>Scenic · Iconic · Majestic</p>
    </div>

    <div class="card" style="background-image:url('assets/himalaya.jpg')">
      <span>🌅 SUNSET</span>
      <h2>Spiti Valley, Himachal Pradesh</h2>
      <p>Breathtaking · Snowy · Adventurous</p>
      
    </div>

    <div class="card" style="background-image:url('assets/gulmarg.jpg')">
      <span>🌴 ADVENTURE</span>
      <h2>Kashmir Valley, India</h2>
      <p>Tranquility · Meadows · Nature</p>
    </div>

    <div class="card" style="background-image:url('assets/resort.jpg')">
      <span>🎶 NIGHTLIFE</span>
      <h2>Goa, India</h2>
      <p>Candlelit dining · Night markets · Live music</p>
    </div>

    <div class="card" style="background-image:url('assets/lake.jpg')">
      <span>🏞️PEACE</span>
      <h2>Dal Lake</h2>
      <p>Trance festivals · Fireworks · Crowd energy</p>
      <!-- <button>View Packages →</button> -->
    </div>

  </div>

</section>
