<app-navbar></app-navbar>
<!-- <app-hero></app-hero>
<app-experience></app-experience>
<app-destinations></app-destinations>
<app-packages></app-packages>
<app-gallery></app-gallery>
<app-testimonials></app-testimonials>
<app-booking></app-booking>
<app-newsletter></app-newsletter> -->
<router-outlet></router-outlet>
<app-footer></app-footer>

<app-register-popups></app-register-popups>

<a
  href="https://wa.me/919249041715?text=Hi%20SkyVora%2C%0A%0AName%3A%20%0ADestination%3A%20%0ATravel%20Date%3A%20%0ANo.%20of%20People%3A%20%0AVacation%20Type%3A%20%0A%0AI%20would%20like%20to%20know%20more%20about%20your%20travel%20packages."
  target="_blank"
  class="whatsapp-btn">

  <img
    src="assets/whatsapp.png"
    alt="WhatsApp">
</a>