<section class="package-page">

  <div class="page-banner">
    <img src="assets/domesticpack2.jpg">

    <div class="banner-overlay">
      <h1>Domestic  </h1>
    </div>
  </div>

  <div class="package-grid">

    <div class="package-card">
      <img src="assets/resort.jpg">
      <h3>Goa Beach Escape</h3>
      <p>4 Nights 5 Days</p>
    </div>

    <div class="package-card">
      <img src="assets/manali.jpg">
      <h3>Manali</h3>
      <p>3 Nights 4 Days</p>
    </div>

    <div class="package-card">
      <img src="assets/gulmarg.jpg">
      <h3>Kashmir</h3>
      <p>5 Nights 6 Days</p>
    </div>

    <div class="package-card">
      <img src="assets/lake.jpg">
      <h3>Dal Lake</h3>
      <p>2 Nights 3 Days</p>
    </div>

  </div>

</section>
